* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  color: #333;
  line-height: 1.2;
  font-family: 'Source Sans Pro', sans-serif;

}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  /* background: #111; */
  color: #fff;
  padding: 1rem 0;
  background: url('./img/headphones_hero_1.jpg') no-repeat center center/cover;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container nav .menu-icon,
header .container nav .menu-toggle {
  display: none;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

header img {
  width: 161px;
}

.hero {
  background: url('hero.jpg') no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 5rem 0;
  margin: 0 auto;
  width: 637px;
}

.hero h1 {
  font-size: 2rem;
  margin-top: 312px;
}

/* .hero p {
  margin: 1rem 0;
} */

.hero .cta {
  display: inline-block;
  padding: 13px 31px;
  color: #fff;
  background: #FF6565;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 2rem;
  margin-bottom: 4rem;
  border-radius: 24px;
}

.hero .hero-p {
  font-size: 1rem;
}

.features {
  background: #fff;
  padding: 2rem 0;
  text-align: center;
}

.features .features-text {
  width: 637px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
}

.features .features-text h3 {
  font-size: 32px;
  line-height: 37.5px;
  text-align: center;
  margin-bottom: 30px;

}

.features .features-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.features .feature {
  display: inline-block;
  width: 22%;
  margin: 1%;
  padding: 1rem;
}

.features .feature h6 {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 13px;
}

.features .feature h6 {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.features img {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}



@media (max-width: 768px) {

  header .container,
  footer .container {
    flex-direction: column;
  }

  header nav ul {
    flex-direction: column;
    align-items: center;
  }

  header nav ul li {
    margin-left: 0;
    margin-top: 10px;
  }

  .features .feature,
  .stats .stat {
    width: 45%;
  }
}

/* Mobile styles */
@media (max-width: 480px) {
  .container {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }

  header .header-img {
    display: block !important;
  }

  header .container {
    flex-direction: column;
    text-align: center;
  }


  header .container nav .menu-x {
    font-size: 40px;
  }


  header .container nav .menu-icon,
  header .container nav .menu-toggle,
  header .container nav .menu-icon img {
    display: flex !important;
    justify-content: center !important;
    position: absolute;
    left: 15px;
    top: 0;
    margin-top: 15px;
  }

  header .container nav .menu-toggle {
    margin-top: 29px;
    width: 50px;
    visibility: hidden;
  }

  header .container nav .menu-x,
  header nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  header .container nav .menu-toggle:checked~ul {
    display: flex;
  }

  header img {
    display: none;
  }

  header nav .mobile-menu img {
    display: flex;
  }

  header nav .mobile-menu ul {
    display: flex;
    list-style: none;
  }


  .hero {
    width: 100%;
    padding: 2rem 1rem;
    margin-bottom: 60px;
  }

  .hero h1 {
    font-size: 2rem;
    margin-top: 200px;
  }

  .hero .hero-p {
    width: 100%;
  }

  .hero p {
    font-size: 1rem;
    width: 267px;
    margin: 0 auto;

  }

  .hero .cta {
    margin-top: 20px;
    margin-bottom: 2rem;
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .features .features-text,
  .stats .stats-text {
    width: 100%;
  }

  .features .feature,
  .stats .stat {
    width: 100%;
    margin: 1rem 0;
  }
