/* Reset default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Hero Section */
.hero-section {
  background: url('./img/Object.png') no-repeat center center/cover;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  color: white;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 105px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.navbar img {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;

  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  background-color: #FF6565
}

.hero-content {
  margin-top: 150px;
}

.hero-content h1 {
  font-size: 7.5rem;
  margin-bottom: 10px;
}

.hero-content .hero-subtitle {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.register-btn {
  background-color: #C271FF;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}

.register-btn:hover {
  background-color: #C271FF;

  opacity: 0.9
}

/* Pros Section */
.pros-section {
  padding: 50px;
  padding-top: 100px;
  color: white;
  text-align: center;

}

.pros-section .pros-section-text {
  font-size: 32px;
  margin-bottom: 40px;
  color: #C271FF;
  font-weight: 700;

}

.pros-section .pros-section-text span {
  font-size: 32px;
  color: white;
  font-weight: 200;

}

.pros-sub-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 98px !important;
}

.pros-sub-section img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-bottom: 15px;
}


.pros-sub-section h4 {
  font-size: 18px;
  font-weight: 900;
  line-height: 27px;
  text-align: center;

}

.pros-sub-section-single .achievementt {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

}

/* Testimonials Section */
.testimonials-section {
  background-color: #B279D8;
  /* Adjust based on the exact color in Figma */
  text-align: left;
  padding: 80px 250px;
  color: white;
  display: flex;
  justify-content: center;
  gap: 53px;
  align-items: center;
}

.testimonials-text {
  width: 730px;
  font-size: 20px;
  font-weight: 300;
}

.testimonials-section .testimonial-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.testimonials-section .testimonials-p-1 {
  /* font-size: 1.2em; */
  /* line-height: 1.5; */
  padding-bottom: 16px;
}

.testimonials-section .testimonials-p-2 {
  /* font-size: 1.2em; */
  line-height: 1.5;
}

.testimonials-section p strong {
  display: block;
  /* margin-top: 10px; */
  /* font-size: 1.1em; */
  font-weight: bold;
}

/* Popular Tutorials Section */
.popular-tutorials-section {
  text-align: center;
  padding: 50px 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.popular-tutorials-section h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
}

.popular-tutorials-section .highlight {
  color: #B279D8;
  /* Adjust based on the exact color in Figma */
}

.tutorial-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.tutorial-card {
  background: #fff;
  border-radius: 5px 0 10px 0;
  padding: 20px;
  width: 220px;
  text-align: left;
}

.tutorial-card .video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 10px;
}

.tutorial-card .video-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tutorial-card .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.tutorial-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.tutorial-card p {
  margin: 5px 0;
}

.tutorial-card .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.tutorial-card .card-footer .rating-time {
  display: flex;
  align-items: center;
}

.tutorial-card .card-footer img {
  width: 80px;
  margin-right: 5px;
}

.tutorial-card .card-footer span {
  font-size: 0.9em;
  color: #999;
}

/* Membership Section */
.membership-section {
  background-color: #101820;
  /* Dark background color */
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.membership-section h5 {
  font-size: 2em;
  margin-bottom: 40px;
  color: #C271FF;
}

.membership-section .highlight {
  color: #fff;
  font-weight: 300;
}

.membership-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.membership-card {
  border-radius: 10px;
  padding: 20px;
  width: 220px;
  text-align: center;
}

.membership-card img {
  margin-bottom: 20px;
}

.membership-card h6 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.membership-card p {
  font-size: 0.9em;
}

.register-btn {
  background-color: #7F3AF2;
  /* Purple color */
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 60px;
}

.register-btn:hover {
  background-color: #C271FF;

}

/* FAQ Section */
.faq-section {
  background-color: #f8f8f8;
  /* Light background color */
  text-align: center;
  padding: 50px 20px;
}

.faq-section h2 {
  font-size: 16px;
  margin-bottom: 40px;
  color: #071629;
}

.faq-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 0 220px;
  max-width: 1000px;
  margin: 0 auto;
}

.faq-card {
  padding: 20px 40px;
  width: auto !important;
  text-align: left;
}

.faq-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.faq-card p {
  font-size: 0.9em;
  color: #333;
}

/* Footer */
.footer {
  background-color: #101820;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 150px;
}

.footer-logo {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.social-links a img {
  width: 30px;
  height: 30px;
}

.footer p {
  font-size: 0.8em;
  color: #fff;
  margin-bottom: 39px;
}